<?xml version="1.0" encoding="UTF-8"?><pluginMetaData path="rulebuilder">
	<name>Rule Builder Filter Rule</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>3.0.0</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin provides a Rule Builder type for Mirth Connect filters</description>
	<clientClasses>
		<string>com.mirth.connect.plugins.rulebuilder.RuleBuilderPlugin</string>
	</clientClasses>
	<library path="rulebuilder-client.jar" type="CLIENT"/>
</pluginMetaData>
