/__README__.txt
.metadata
bin/
tmp/
target/
server/appdata/**
server/dist/**
server/build/**
server/setup/**
log/
target/target/**
classes
*.jar
*.tmp
*.exe
*.dat
*.bak
*.swp
*.class
*~.nib
local.properties
.settings/
.loadpath
.recommenders