<?xml version="1.0" encoding="UTF-8"?><pluginMetaData path="datatype-delimited">
	<name>Delimited Data Type</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>3.0.0</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin provides support for the delimited data type</description>
	<serverClasses>
		<string>com.mirth.connect.plugins.datatypes.delimited.DelimitedDataTypeServerPlugin</string>
	</serverClasses>
	<clientClasses>
		<string>com.mirth.connect.plugins.datatypes.delimited.DelimitedDataTypeClientPlugin</string>
	</clientClasses>
	<library path="datatype-delimited-client.jar" type="CLIENT"/>
	<library path="datatype-delimited-shared.jar" type="SHARED"/>
	<library path="datatype-delimited-server.jar" type="SERVER"/>
</pluginMetaData>
