<?xml version="1.0" encoding="UTF-8"?><pluginMetaData path="datatype-edi">
	<name>EDI Data Type</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>3.0.0</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin provides support for the EDI data type</description>
	<serverClasses>
		<string>com.mirth.connect.plugins.datatypes.edi.EDIDataTypeServerPlugin</string>
	</serverClasses>
	<clientClasses>
		<string>com.mirth.connect.plugins.datatypes.edi.EDIDataTypeClientPlugin</string>
	</clientClasses>
	<library path="datatype-edi-client.jar" type="CLIENT"/>
	<library path="datatype-edi-shared.jar" type="SHARED"/>
	<library path="datatype-edi-server.jar" type="SERVER"/>
</pluginMetaData>
