<?xml version="1.0" encoding="UTF-8"?><pluginMetaData path="datatype-hl7v3">
	<name>HL7v3 Data Type</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>3.0.0</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin provides support for the HL7v3 data type</description>
	<serverClasses>
		<string>com.mirth.connect.plugins.datatypes.hl7v3.HL7V3DataTypeServerPlugin</string>
	</serverClasses>
	<clientClasses>
		<string>com.mirth.connect.plugins.datatypes.hl7v3.HL7V3DataTypeClientPlugin</string>
	</clientClasses>
	<library path="datatype-hl7v3-client.jar" type="CLIENT"/>
	<library path="datatype-hl7v3-shared.jar" type="SHARED"/>
	<library path="datatype-hl7v3-server.jar" type="SERVER"/>
</pluginMetaData>
