<?xml version="1.0" encoding="UTF-8"?><pluginMetaData path="serverlog">
	<name>Server Log</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>3.0.0</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin allows you to view the server log on the Mirth Connect administrator.</description>
	<serverClasses>
		<string>com.mirth.connect.plugins.serverlog.ServerLogProvider</string>
	</serverClasses>
	<clientClasses>
		<string>com.mirth.connect.plugins.serverlog.ServerLogClient</string>
	</clientClasses>
	<library path="serverlog-client.jar" type="CLIENT"/>
	<library path="serverlog-server.jar" type="SERVER"/>
</pluginMetaData>
