<?xml version="1.0" encoding="UTF-8"?><pluginMetaData path="javascriptrule">
	<name>Javascript Filter Rule</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>3.0.0</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin provides a JavaScript rule-type for Mirth Connect filters</description>
	<clientClasses>
		<string>com.mirth.connect.plugins.javascriptrule.JavascriptRulePlugin</string>
	</clientClasses>
	<library path="javascriptrule-client.jar" type="CLIENT"/>
</pluginMetaData>
