<?xml version="1.0" encoding="UTF-8"?><pluginMetaData path="datatype-raw">
	<name>Raw Data Type</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>3.0.0</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin provides support for the raw data type</description>
	<serverClasses>
		<string>com.mirth.connect.plugins.datatypes.raw.RawDataTypeServerPlugin</string>
	</serverClasses>
	<clientClasses>
		<string>com.mirth.connect.plugins.datatypes.raw.RawDataTypeClientPlugin</string>
	</clientClasses>
	<library path="datatype-raw-client.jar" type="CLIENT"/>
	<library path="datatype-raw-shared.jar" type="SHARED"/>
	<library path="datatype-raw-server.jar" type="SERVER"/>
</pluginMetaData>
