<?xml version="1.0" encoding="UTF-8"?><pluginMetaData path="datatype-xml">
	<name>XML Data Type</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>3.0.0</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin provides support for the XML data type</description>
	<serverClasses>
		<string>com.mirth.connect.plugins.datatypes.xml.XMLDataTypeServerPlugin</string>
	</serverClasses>
	<clientClasses>
		<string>com.mirth.connect.plugins.datatypes.xml.XMLDataTypeClientPlugin</string>
	</clientClasses>
	<library path="datatype-xml-client.jar" type="CLIENT"/>
	<library path="datatype-xml-shared.jar" type="SHARED"/>
	<library path="datatype-xml-server.jar" type="SERVER"/>
</pluginMetaData>
