<?xml version="1.0" encoding="UTF-8"?><pluginMetaData path="dicomviewer">
	<name>DICOM Viewer</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>3.0.0</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin provides DICOM attachment viewing capability in message browser</description>
	<clientClasses>
		<string>com.mirth.connect.plugins.dicomviewer.DICOMViewer</string>
	</clientClasses>
	<library path="dicomviewer-client.jar" type="CLIENT"/>
	<library path="lib/ij.jar" type="SHARED"/>
</pluginMetaData>
