<?xml version="1.0" encoding="UTF-8"?><pluginMetaData path="mllpmode">
	<name>Transmission Mode - MLLP</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>3.0.0</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin provides an MLLP transmission mode for socket/serial connectors.</description>
	<serverClasses>
		<string>com.mirth.connect.plugins.mllpmode.MLLPModeProvider</string>
	</serverClasses>
	<clientClasses>
		<string>com.mirth.connect.plugins.mllpmode.MLLPModePlugin</string>
	</clientClasses>
	<library path="mllpmode-client.jar" type="CLIENT"/>
	<library path="mllpmode-server.jar" type="SERVER"/>
	<library path="mllpmode-shared.jar" type="SHARED"/>
</pluginMetaData>
