<?xml version="1.0" encoding="UTF-8"?><pluginMetaData path="pdfviewer">
	<name>PDF Viewer</name>
	<author>Mirth Corporation</author>
	<pluginVersion>@mirthversion</pluginVersion>
	<mirthVersion>3.0.0</mirthVersion>
	<url>http://www.mirthcorp.com</url>
	<description>This plugin provides PDF attachment viewing capability in message browser.</description>
	<clientClasses>
		<string>com.mirth.connect.plugins.pdfviewer.PDFViewer</string>
	</clientClasses>
	<library path="pdfviewer-client.jar" type="CLIENT"/>
	<library path="lib/PDFRenderer.jar" type="CLIENT"/>
</pluginMetaData>
